body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
}

.story {
    background-color: #fff;
    border: 1px solid #ccc;
}

.chapter-name{
    text-decoration: underline;
}

img{
    height: 300px;
}

