body {
    font-family: Arial, sans-serif;
    text-align: center;
}

table {
   border-collapse: collapse; 
   width: 80%;
   margin: auto;
}

tr td:first-child{
    min-width: 200px;
}


/* Exercise starts here */

/* Change the background color of  odd rows*/
/* Add a hover effect to the first td element of each row */
/* Add a hover effect to the button to change is background color */
/* Set display none to the top left cell. This element already has a class defined in the html file */
/* Set display none to all th and td elements except the tds in the first column */

/* Don't forget to apply other styles to change colour, text-decoration, padding, etc. */
.pricing-table tr:nth-child(2n+1) {
    background-color: #f4f4f457;
}


td, th{
    border: 1px solid #f4f4f4;
    min-width: 200px;
    padding: 20px;
}


th, tr td:first-child {
    background-color: #f4f4f4;
}

tr td:first-child:hover{
    background-color: #444; 
    color: #fff;
}


.no-border{
    border: none;
    background-color: #fff;
}



.plan-original-price{
    text-decoration: line-through;
    color: rgb(201, 0, 0);
}

.plan-savings {
    color: #4CAF50;
    font-weight: bold;
}

button {
    background-color: #FF9800;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
}

button:hover {
    background-color: #E57C00;
}

img{
    height: 24px;
}



/* Responsiveness */
@media (max-width: 800px) {

    th, td:not(:first-child){
        display: none;
    }

    tr td{
        border: 4px solid #fff;
        width: 100%;
    }
}