body{
    background-color: #efd6ac;
}
table{
    border: 1px solid #000;
    border-collapse: separate;
    width: 100%;

}
img{
    height: 50px;
}
th, td {
    border: 1px solid #000;
}

.price{
    font-weight: bold;
}
.shadowed{
    color: #fff;
    text-shadow: 1px 1px #000;
    background-color: #432534;

}
header{
    text-align: center;
    
}
.final-message{
    text-align: right;
}